<!-- START Header Style 1 -->
<mat-toolbar class="br-header shadow">
  <mat-toolbar-row class="br-header-white justify-content-between align-items-center">
    <span>
      <a aria-label="abcd logo" href="#">
        <img src="assets/images/br-logo-blue.svg" alt="abcd blue logo" width="160">
      </a>
  </span>
  </mat-toolbar-row>
  <mat-toolbar-row class="br-header-blue justify-content-between align-items-center">
    <!-- <button mat-button aria-label="expand menu" class="d-md-none">
      <mat-icon>menu</mat-icon>
    </button> -->
  </mat-toolbar-row>
</mat-toolbar>
<mat-expansion-panel class="mat-navbar-collapse d-md-none w-100">

</mat-expansion-panel>
<!-- END Header Style 1 -->
