<footer id="footer">
    <div class="container">
        <div class="footerLinks">
            <h2 class="footer_title">TAX</h2>
            <ul class="mb-0 d-md-block d-none">
                <li><a href="http://abcd.com/privacy.asp" target="_blank">Privacy Statement</a></li>
                <li><a href="http://abcd.com/terms.asp" target="_blank">Terms and Conditions</a></li>
            </ul>
        </div>
        <div class="copyRight"> © 2023 abcd Financial Solutions, Inc. The abcd Logo is a registered trademark of abcd North America, Inc. </div>
    </div>
  </footer>
